
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';

.stylelog {
    background-color: $yellow;
    &--inner {
        @include flex (column, center, center);
        width: 85%;
        margin: 0 auto;
        background-color: $white;
        padding-top: 50px;
    }
    &__title {
        margin: 0 0 32px;
        text-align: center;
        @include desktop {
            @include font (48px, 56px, 'AvenirNext', 600);

        }
    }
    &__log {
        padding: 12px;
        @include desktop {
            @include flex (row, space-between, center);
            flex-wrap: wrap;
            // width: 75%;
            padding: 32px;
        }
    }
}
