
// IMPORTS

@import './Style/fonts';
@import './Style/mixins';
@import './Style/variable';

.page-content {
  @include flex (column);
  @include desktop {
    @include flex (row);
    width: 100%;
    height: 100%;
  }
}

.right {
  @include desktop {
    width: 100%;
    margin-left: 18%;
  }
}

.sideHeader {  
  @include desktop {
    position: fixed;
    width: 18%;
  }
}