
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';

// SUB-HEADER in PRODUCT page

.subheader {
    @include flex (column);
    width: 100%;
    background-color: $yellow;    
    @include desktop {
        width: 82%;
        position: fixed;
    }
    &__search {
        @include flex (column, center);
        margin: 2% 0;
        @include desktop {
            @include flex (row, center, center);
            width: 90%;
            
        }
        &-form {
            width: 90%;
            margin: 0 auto;
            display: flex;
            background-color: $white;
            border: 2.5px solid $silver;
            border-radius: 10px;
            padding: 8px;
            &:focus-within {
                border: 3px solid $black;
                outline: none;
            }
            @include desktop {
                width: 65%;
                padding: 16px; 
            }
        }
        &-input {
            @include font (16px, 20px, 'AvenirNext', 400);
            border: none;
            width: 100%;
            @include desktop {   
                margin-left: 20px;
                border-right: 10px;
            }
            &:focus {
                outline: none;
            }            
            &::placeholder {
                @include font(18px, 20px, 'AvenirNext', 400);              
            }
        }
    }
    &__fav {
        @include font (20px, 20px, 'AvenirNext', 600);
        @include flex (row, center, center);
        text-decoration: none;        
        padding: 0 5px;
        @include desktop {
            margin-left: 70px;
        }
        &-text {
            margin-right: 10px;
        }
        &-img {
            width: 30px;
        }
        &:link,
        &:visited {
            color: black;
        }
    }
    &__nav {
        display: none;        
        @include desktop {
            @include flex(row);
            background-color: $yellow;
        }
    }
    &__link {
        @include font (16px, 20px, 'AvenirNext', 600);
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 15px 20px;
        &:link,
        &:visited {
            color: $black;
        }
        &:hover{
            background-color: $white;
        }
    }
}

.active {
    background-color: $white;
    &:link,
    &:visited {
        color: $black;
        background-color: $white;
    }
}

.subheader__mobile {
    background-color: $yellow;
    @include desktop {
        display: none;
    }
    &--sub {
        @include flex (row, space-between, center);
        width: 90%;
        margin: 0 auto;
    }
    &-nav {
        @include flex (column, center, center);
    }
    &-link {
        @include font (16px, 20px, 'AvenirNext', 600);
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 15px 20px;
        &:link,
        &:visited {
            color: $black;
        }
        &:hover{
            background-color: $white;
        }
    }
}