
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.bookmark {
    width: 25%;
    margin: 0 24px 0 0;
    &-card {
        width: 100%;
        @include flex (column, space-between, center);
        border: 2px solid $yellow;
        height: 300px;
        text-decoration: none;
        padding: 15px 15px;

        box-sizing: border-box;
        &:link,
        &:visited {
            color: $black;
        }    
    }
    &-main {
        @include desktop {
            padding-left: 24px;
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
        }

    }
}
