
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.detail {
    padding: 0 20px;
    margin-top: 6.5%;
    &__link {
        text-decoration: none;
        display: flex;
        margin-bottom: 28px;
        &:link,
        &:visited {
            color: $black;
        }
        &-img {
            margin-right: 24px;
        }
    }
    &__main {
        display: flex;
    }
    &__dots {
        @include flex (row, center);
        width: 100%;
        margin-bottom: 32px;
    }
    &__dot {
        width: 4%;
        margin-left: 16px;
    }
    &__img {
        @include flex (column, center, center);
        width: 50%;
        &-img {
            width: 70%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__detail {
        @include flex (column, "", center);
        width: 50%;
        margin: 40px 0 0 40px;
        &--flex {
            @include flex (row, space-between, center);
        }
    }
    &__name {
        @include font (48px, 66px, 'AvenirNext', 700);
        margin: 0;
        width: 100%;
    }    
    &__description {
        @include font (18px, 32px, 'AvenirNext', 400);
        width: 60%;
    }
    &__price {
        @include font (20px, 32px, 'AvenirNext', 600);
        margin-bottom: 40px;
    }
    &__brand {
        &-a {
            @include flex (column, center, center);
            margin-bottom: 40px;
            text-decoration: none;
            &:link,
            &:visited {
                color: $black;
            }
        }
        &-logo {
            width: 20%;            
        }
        &-btn {
            @include font (20px, 32px, 'AvenirNext', 600);
            padding: 14px;
            width: 50%;
        }
    }
    &__fav {
        @include flex (row, center, center);
        width: 30%;
        &-heart {
            width: 32px;
            margin-left: 12px;
        }

    }
}