
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.home {
    @include flex (column, center, center);
    width: 100%;
    background-color: $yellow;
    @include desktop {
        height: 100vh;
    }
    &__title {
        @include font (24px, 32px, 'AvenirNext', 700);
        text-align: center;
        @include tablet {
            margin-top: 60px;
        }
        @include desktop {
            @include font (40px, 66px, 'AvenirNext', 700);
        }
    }
    &--flex {
        @include flex (row, space-between, center);
        width: 90%;
        @include tablet {
            width: 60%;
        }
        @include desktop {
            width: 90%;
        }
    }
    &__button {
        display: none;
        @include desktop {
            display: block;
            background-color: transparent;
            width: 50px;
            border: none;
        }
    }
    &__img {
        width:100%;
        @include tablet {
            width: 100%;
        }
        @include desktop {
            width: 70%;
            margin: auto;
        }
    }
    &__search {
        @include flex (row, center, center);
        margin-top: 52px;
        background-color: $white;
        border-radius: 10px;
        border: 4px solid $white;
        text-decoration: none;
        padding: 8px; 
        cursor: pointer;
        @include desktop {
            padding: 10px; 
        }
        &:hover {
            background-color: $yellow;            
        }
        &-icon {
            margin-right: 16px;
        }
        &-btn {
            @include font (16px, 24px, 'AvenirNext', 600);
            cursor: pointer;
                   
            background-color: transparent;
            border: none;
            @include desktop {
                @include font (24px, 36px, 'AvenirNext', 600);
            }          
        }
    }
}

.home__mobile {
    @include tablet {
        width: 60%;
    }
    @include desktop {
        display: none;
    }
}