

// MIXINS

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin font ($size, $height, $family, $weight){
    font-size: $size;
    line-height: $height;
    font-family: $family;
    font-weight: $weight;
}
@mixin flex ($direction, $justify: "auto", $align : "auto") {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}