
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.search {
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 6.5%;

}
#search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-top: 6.5%;
}