
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.search {
    @include flex (column);
}

.main {
    margin-top: 6.5%;
    &__filter{
        &-box {
            // position: relative
        }
        &-btn {
            position: absolute;
            // left: 0;
            top: 20%;
        }
    }
}
#search {
    @include flex (row, space-between); 
    flex-wrap: wrap;
    @include desktop {
        padding: 16px;
        margin-top: 6.5%;
    }
}