

// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';

.signin {
    @include flex (column, center, center);
    background-image: linear-gradient(90deg, #dcb444, $yellow, $yellow, $white);
    width: 100%;
    height: 100vh;
    @include desktop {
        @include flex (row, center, center)
    }
    &--left {
        @include flex (row, center, center);
        width: 100%;
        @include desktop {
            height: 100vh;
            position: relative;
        }
    }
    &__logo{
        width: 60%;
        position: absolute;
        animation-name: rotate;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background-color: transparent;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 25%; 
        }
    }
    &--right {
        visibility: hidden;
        animation: fade-in 3s 1 forwards;
        @include flex (column, center, center);
            background-color: transparent;
            position: absolute;
        @include tablet {
            width: 50%; 
        }
    }
    &__title {
        width: 90%;
        @include desktop {
            width: 60%;
        }
    }
    &__sub {
        visibility: hidden;
        @include desktop {
            @include font (48px, 20px, 'AvenirNext', 600);
            color: $white;
            &:after {
                visibility: visible;
                content: "";
                animation: changetext 3s infinite;
            }
        }
    }
    &__link {
        @include desktop {
            width: 100%;
        }
    }
}
    
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fade-in {
    0% { 
        opacity: 0.0; 
        visibility: visible;
    }
    100% {
        opacity: 1.0;
        visibility: visible;
    }
}

@keyframes changetext {

    0% {
        content:"onedrobe"
    }
    50% {
        content:"click to enter"
    }
    100% {
        content:"onedrobe"
    }
}