

// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';

.signin {
    @include flex (column, center, center);
    background-color: $yellow;
    width: 100%;
    height: 100vh;
    @include desktop {
        @include flex (row, center, center)
    }
    &__logo{
        width: 80%;
        // animation-name: rotate;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 30%;
        }
    }
    &--right {
        @include flex (column, center, center);
        @include desktop {
            width: 50%;

        }
    }
    &__title {
        width: 90%;
        @include desktop {
            width: 60%;

        }
    }
    &__link {
        @include desktop {
            width: 100%;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}