
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.side {
    @include flex (column);
    background: $white;
    position: relative;
    height: 100%;
    &__logo {
        &-img {
            width: 100%;
        }
    }
    &__nav {
        @include flex (column);
        overflow: hidden;
    }
    &__link {
        @include font (24px, 32px, 'AvenirNext', 600);
        width: 100%;
        text-decoration: none;
        text-align: center;
        margin: 10px 0;
        padding: 20px 0;
        &:link,
        &:visited {
            color: $black;
        }
        &:hover {
            transform: scale(1.2)
        }
    }
}

.chatmodal {
    width:100%;
    position: absolute;
    bottom: -200px;
}
