
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


.side {
    @include flex (column, center, center);
    background: $white;
    height: 100%;
    @include desktop {
        position: relative;
    }
    &__logo {
        width: 180px;
        @include desktop {
            width: 100%;
        }
        &-img {
            width: 100%;
        }
    }
    &__user {                
        @include flex (column, space-evenly, center);
        width: 100%;
        margin: -10px 0 16px;
        position: relative;
        @include desktop {
            width: 90%;
            margin: -20px 0 24px;
        }
        &--show {
            @include flex (row, center, center)
        }
        &-name {
            @include desktop {
                @include font (16px, 32px, 'AvenirNext', 600);
            }
        }
        &-down {
            width: 15px;
            margin-left: 24px;
        }
        &-image {
            width: 45px;
            height: 45px;
            border-radius: 50px;
        }
        &-detail {
            @include flex (row, space-between, center);
            width: 100%;
            padding-left: 32px;
            box-sizing: border-box;  
            @include tablet {
                width: 95%;
            }
            @include desktop { 
                
                    
            }            
            p {
                @include font (13px, 24px, 'AvenirNext', 400);
            }
        }
        &--right {
            @include flex (column, center, center);
            width: 80%;
        }
        &-btn {
            background-color: transparent;
            border-left: 2px solid $yellow;
            border-right: 2px solid $yellow;
            border-top: none;
            border-bottom: none;
            padding: 8px;
            cursor: pointer;
        }
    }
    &__nav {
        @include flex (row, space-evenly, center);
        width: 100%;
        @include desktop {
            @include flex (column);
            overflow: hidden;
        }
    }
    &__link {
        @include font (16px, 32px, 'AvenirNext', 600);
        width: 100%;
        text-decoration: none;
        text-align: center;
        &:link,
        &:visited {
            color: $black;
        }
        @include desktop {
            @include font (24px, 32px, 'AvenirNext', 600);
            margin: 10px 0;
            padding: 20px 0;            
            &:hover {
                transform: scale(1.2)
            }
        }
    }
}

.chatmodal {
    display: none;
    @include desktop {
        display: block;
        width:100%;
        position: absolute;
        bottom: -100px;
    }
}
@keyframes showmenuMobile {
    0% {
        right: -150px;
    }
    100% {
        right: 0;
    }
}


@keyframes showmenuDesktop {
    0% {
        left:150px;
    }
    100% {
        left: 250px;
    }
}