.card {
    border: 2px solid black;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px 30px;
    box-sizing: border-box;
    &:link,
    &:visited {
        color: black;
    }
    &--top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__brand {
        width: 100px;
    }
    &__like {

    }
    &__img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    &__detail {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__pricebox {
        display: flex;
        flex-direction: column;
    }
    &__original {
        color: red;
        text-decoration: line-through;
    }
    &__price {

    }
}

.main {
    display: flex;
    flex-wrap: wrap;
}