
// IMPORTS

@import '../../Style/fonts';
@import '../../Style/mixins';
@import '../../Style/variable';


// Product Card

.card {
    @include flex (column, center, center);
    border: 2px solid $silver;
    width: 270px;
    height: 380px;
    text-decoration: none;
    padding: 15px 15px;
    margin: 0 8px 50px 0;
    box-sizing: border-box;
    // position: relative;
    &:link,
    &:visited {
        color: $black;
    }
    &:hover {    
        .card {
            &__detail {
                @include font (16px, 24px, 'AvenirNext', 600);
                @include flex (column, space-between, center);
                position: absolute;
                width: 270px;
                background-color: $yellow;                
                animation-name: showdetail;
                animation-duration: .5s;
            }
            &__brand {
                display: flex;
                width: 60px;
                height: 30px;
                object-fit: contain;
                object-position: center;
            }
            &__img {
                width: 85%;
                height: 75%;
                object-fit: cover;
                object-position: center;
                animation-name: showimage;
                animation-duration: .5s;  
            }
             
        }
    }
    &--top {
        @include flex (row, space-between, center);
        width: 100%;
    }
    &__brand {
        display: none;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__detail {
        display: none;
    }
    &__name {
        margin: 0;
    }
    &__pricebox {
        @include flex (column);
    }
    &__original {
        color: $red;
        text-decoration: line-through;
        margin: 0;
    }
    &__price {
        margin: 0;
    }
}

.main {
    @include flex (row, space-between);
    flex-wrap: wrap;
    padding: 16px;
}

@keyframes showdetail {
    0% {
        transform: translate(0, 120px)
    }
    100% {
        transform: translate(0, 0)
        
    }
}

@keyframes showimage {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 85%;
        height: 75%;
        
    }
}